.list {
  border: blue;
  margin-top: 10px;
}
td {
  text-align: center;
  cursor: pointer;
}
th {
  color: red;
}
.fondo {
  background-color: #ececec;
  min-height: 91vh;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
